# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - Universiti Sains Malaysia\Year 2 Sem 1\CAT 201\Final Project\New Compressed (zipped) Folder\Bank File\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
